<!DOCTYPE HTML>
<html>

<head>
  <title>Panoramix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/toastr.min.js"></script>
  <script src="/static/js/socket.io.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/toastr.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="static/css/style.css">

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

      namespace = '/api';

      var socket = io(namespace);

      socket.on('connect', function() {
        toastr.success('Connected to api');
      });

      socket.on('score', function(msg) {
        $('#affichageScore').html(msg.score);
      });

      socket.on('console_out', function(msg) {
        $('#console').append(msg.text);
        if ($('#console').length)
          $('#console').scrollTop($('#console')[0].scrollHeight - $('#console').height());
      });

      socket.on('console_msg', function(msg) {
        if (msg.level == 'ERROR' || msg.level == 'FATAL') {
          toastr.error(msg.msg, msg.name, {
            timeOut: 0,
            extendedTimeout: 0,
            closeButton: true,
          });
        } else if (msg.level == 'WARN') {
          toastr.warning(msg.msg, msg.name, {
            timeOut: 0,
            extendedTimeout: 0,
            closeButton: true,
          });
        }
      });
    });
  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      <h3 class="text-center">Panoramix</h3>
      <h6 class="text-center">Club Robotique ECAM - v0.8.2</h6>
    </div>

    <hr>

    <h5 class="text-center">Options</h5>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <h5 class="card-title text-center">Network</h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h5 class="card-title text-center">Strategy</h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h5 class="card-title text-center" id="titreScore">Score</h5>
          <div class="card-body">
            <p class="card-text" id="affichageScore">0</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" id="frameSide">
          <h5 class="card-title text-center">Side</h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h5 class="text-center">System Monitor</h5>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <img id="asterix_img" class="card-img-top" src="..." alt="Asterix image">
          <h5 class="card-title text-center">Asterix</h5>
          <div class="card-body">
            <p class="card-text">
              <ul id=asterix_nodes>

              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img id="obelix_img" class="card-img-top" src="..." alt="Obelix image">
          <h5 class="card-title text-center">Obelix</h5>
          <div class="card-body">
            <p class="card-text">
              <ul id=obelix_nodes>

              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img id="assurancetourix_img" class="card-img-top" src="..." alt="Assurancetourix image">
          <h5 class="card-title text-center">Assurancetourix</h5>
          <div class="card-body">
            <p class="card-text">
              <ul id=assurancetourix_nodes>

              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h5 class="text-center">Console</h5>
    <div class="form-control" id="console" readonly></div>
  </div>

  <style>
    #console {
      height: 300px;
      overflow-y: scroll;
    }
  </style>
</body>

</html>
