<!DOCTYPE HTML>
<html>

<head>
  <title>Panoramix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/toastr.min.js"></script>
  <script src="/static/js/socket.io.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/toastr.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="static/css/style.css">

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

      namespace = '/api';

      var socket = io(namespace);

      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: 'toast-top-right',
        preventDuplicates: true,
        onclick: null,
        showDuration: 300,
        hideDuration: 0,
        timeOut: 15000,
        extendedTimeOut: 5000,
        showEasing: 'linear',
        hideEasing: 'linear',
        showMethod: 'show',
        hideMethod: 'hide',
      };

      socket.on('connect', function() {
        toastr.success('Connected to api');
      });

      socket.on('score', function(msg) {
        $('#affichageScore').html(msg.score);
      });

      socket.on('console_out', function(msg) {
        $('#console').append(msg.text);
      });

      socket.on('console_msg', function(msg) {
        if (msg.level == 'ERROR' || msg.level == 'FATAL') {
          toastr.error(msg.msg, msg.name, {
            timeOut: 0,
            extendedTimeout: 0,
            closeButton: true,
          });
        } else if (msg.level == 'WARN') {
          toastr.warning(msg.msg, msg.name, {
            timeOut: 0,
            extendedTimeout: 0,
            closeButton: true,
          });
        }
      });
    });
  </script>

</head>

<body>
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      <h3 class="text-center">Panoramix</h3>
      <h6 class="text-center">Club Robotique ECAM - v0.8.3</h6>
    </div>

    <hr>

    <h5 class="text-center">Options</h5>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <h5 class="card-title text-center">Network</h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h5 class="card-title text-center">Strategy</h5>
          <div class="card-body">
            <p class="card-text">
              <input id="strategy_slider" type="range" min="1" max="5" value="3">
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <h5 class="card-title text-center" id="titreScore">Score</h5>
          <div class="card-body">
            <p class="card-text" id="affichageScore">0</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" id="frameSide">
          <h5 class="card-title text-center">Side</h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h5 class="text-center">Console</h5>
    <div class="form-control" id="console" readonly></div>
  </div>
</body>

</html>
