[submodule "src/modules/lcd-driver"]
	path = src/modules/lcd-driver
	url = https://github.com/funtech-makers/ros2-i2c-lcd-driver.git
[submodule "src/modules/odrive_ros"]
	path = src/modules/odrive
	url = https://github.com/robotique-ecam/odrive-ros2-node.git
