<?xml version="1.0" ?>

<robot name="$(arg robot)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="robotbase_lenght" value="0.2" />
  <xacro:property name="robotbase_width" value="0.26" />
  <xacro:property name="robotbase_height" value="0.32" />

  <xacro:include filename="robot.xacro"/>

</robot>
