<?xml version="1.0" ?>

<robot name="obelix" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="robot" value="obelix"/>

  <xacro:property name="robotbase_lenght" value="0.18"/>
  <xacro:property name="robotbase_width" value="0.315"/>
  <xacro:property name="robotbase_height" value="0.32"/>

  <xacro:property name="wheel_radius" value=".0615"/>
  <xacro:property name="wheel_width" value=".02"/>

  <xacro:include filename="robot.xacro"/>

</robot>
